@page
@model IndexModel

@{
    ViewData["Title"] = "Generic Blog Aggregation Website";
}

<article>
	<header>
		<p>Generic Blog Aggregation Website</p>
	</header>

	<div class="articles">
		test
	</div>
</article>

<div class="modal" tabindex="-1" role="dialog" id="welcome-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ASP.NET Core 2.2 POC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<p>
			Welcome to my ASP.NET Core 2.2 proof-of-concept!  This is intended to be a simple CRUD application which functions like an address book.
		</p>

		<h1>
			Installation
		</h1>

		<div class="alert alert-warning" role="alert">
			<em>Note: the following instructions assume installation on a Linux Mint (or otherwise Ubuntu 18.04-compatible) environment.</em>
		</div>

		<ol>
			<li>
				Install the .NET Core 2.2.4 SDK:<br/>

				<code>
				wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb<br/>
				sudo dpkg -i packages-microsoft-prod.deb<br/>
				sudo add-apt-repository universe<br/>
				sudo apt-get install apt-transport-https<br/>
				sudo apt-get update<br/>
				sudo apt-get install dotnet-sdk-2.2<br/>
				</code>

				<div class="alert alert-warning" role="alert">
					<em>Note: <code>libicu60</code> may need to be manually installed as a workaround.</em>
				</div>
			</li>

			<li>
				Install Node package manager using <code>apt</code>, and <code>npm install</code> the project's dependencies.
			</li>
			
			<li>
				<code>cd</code> to the project directory and build/run the application using <code>dotnet run -v n</code> (the <code>-v n</code> argument will invoke normal verbosity - this provides some insight into the custom build procedures which compile *.less files).
			</li>
		</ol>
      </div>
    </div>
  </div>
</div>


