body {
  margin: 8px;
}
.container {
  width: 85% !important;
  max-width: 85% !important;
}
article {
  background-color: #f6f6ef;
  color: #828282;
}
article header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: black;
  width: 100%;
  background-color: #ff6600;
  padding: 2px;
  font-weight: bold;
}
article header p {
  margin: 0 !important;
}
