@beige: #F3DEAD;
@sky-blue: #C4D5D1;
@blue: #668CB2;
@mauve: #6F4351;
@violet: #3F292C;

html, body {
	background-color: @mauve;
}

.container {
	padding: 2em;
	margin: 2em auto;
	background-color: @violet;
	color: @beige;
}

li, code {
	padding: 10px 0px;
}